@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  width: 100%;
  height: 100vh;
}

html,
body {
  box-sizing: border-box;
  font-family: 'IRANSans' !important;
  font-size: 14px !important;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSans.ttf');
  font-style: normal;
  font-display: swap;
}

body {
  unicode-range: U+00-FF, U+980-9FF;
}

html[lang='fa'] {

  span,
  strong,
  p {
    font-family: 'IRANSans' !important;
  }
}

html[lang='en'] {
  span,
  strong,
  p {
    font-family: 'Times New Roman';
  }
}

.custom-bg-edu {
  border-radius: 45% 55% 81% 19% / 59% 60% 40% 41%;
  height: 22rem;
  width: 30rem;
  z-index: 0 !important;
}

.custom-bg-skill {
  border-radius: 45% 55% 81% 19% / 59% 60% 40% 41%;
  height: 22rem;
  width: 30rem;
  z-index: 0 !important;
}

.personal-image {
  z-index: 9 !important;
  position: absolute;
  top: 0;
}

.container-bg {
  height: 27rem;
  width: 35rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 45% 55% 81% 19% / 59% 60% 40% 41%;
}

.container-bg-edu {
  height: 30rem;
  width: 35rem;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 45% 55% 81% 19% / 59% 60% 40% 41%;
  margin-left: 2rem;
}